[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
python-ldap = {path = "./python_ldap-3.3.1-cp36-cp36m-win_amd64.whl"}
djangorestframework = "*"

[requires]
python_version = "3.6"
