[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = {version = "==3.1.12", index = "https://pypi.tuna.tsinghua.edu.cn/simple"}
mysqlclient = "*"
#python-ldap = {path = "./python_ldap-3.3.1-cp36-cp36m-win_amd64.whl"}
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
update = "*"
kombu = "*"
# celery = "==5.0.3"
# celery-with-redis = "*"
# redis = "*"
kafka-python = "*"
tqdm = "*"
requests = "*"
elasticsearch-dsl = "*"
elasticsearch = "*"
numpy = "*"
matplotlib = "*"
celery = "==5.0.5"

[requires]
python_version = "3.6"
