[mysql]
auto-rehash
socket =/tmp/mysql.sock

[mysqld]
user = mysql       
basedir = {{ mysql_install_dir }}{{ mysql_filename }}
datadir = {{ mysql_root_directory }}{{ mysql_port }}{{ mysql_data_dir }}
server_id = {{ mysql_port | default(3306)}} 
port = {{ mysql_port | default(3306)}} 

log-bin = /home/mysql/3306/logs/mysql-bin

tmpdir = {{ mysql_tmp_dir }}

socket	= /home/mysql/3306/data/3306.sock

log-error = /home/mysql/3306/data/error.log